<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.t226.dao.room.RoomMapper">


    <select id="getRoomList" resultType="Room"><!--条件查询房间-->
SELECT room.*,building.name as buildingName,adds.name as addressName from security_room as room inner JOIN
security_building as building on building.id=room.buildingId
 INNER JOIN address as adds on adds.id=building.addressId
 <trim prefix="where" prefixOverrides="and">
     <if test="addressId != null">
         building.addressId=#{addressId}
     </if>
     <if test="userId != null">
         and userId=#{userId}
     </if>
     <if test="buildingId != null">
         and room.buildingId=#{buildingId}
     </if>
     <if test="layerId != null">
         and room.layerId=#{layerId}
     </if>
  LIMIT #{thisPage},#{pageSize}
 </trim>


    </select>


    <!--条件查询数量-->
    <select id="getRoomCount" resultType="int">
  SELECT count(1) from security_room as room inner JOIN
security_building as building on building.id=room.buildingId
 INNER JOIN address as adds on adds.id=building.addressId
 <trim prefixOverrides="and | or" prefix="where">
     <if test="addressId != null">
         building.addressId=#{addressId}
     </if>
     <if test="userId != null">
         and userId=#{userId}
     </if>
     <if test="buildingId != null">
         and room.buildingId=#{buildingId}
     </if>
     <if test="layerId != null">
         and room.layerId=#{layerId}
     </if>
 </trim>
    </select>



</mapper>

