<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.t226.dao.room.RoomMapper">


    <select id="getRoomList" resultType="Room"><!--条件查询房间-->
SELECT room.*,building.name as buildingName,adds.name as addressName from security_room as room inner JOIN
security_building as building on building.id=room.buildingId
 INNER JOIN address as adds on adds.id=building.addressId
 <trim prefix="where" prefixOverrides="and">
     <if test="addressId != null and addressId != ''">
         building.addressId=#{addressId}
     </if>
     <if test="userId != null and userId != ''">
         <if test="userId == 1">
             and userId=0
         </if>
         <if test="userId == 2">
             and userId!=0
         </if>
     </if>
     <if test="buildingId != null and buildingId != ''">
         and room.buildingId=#{buildingId}
     </if>
     <if test="layerId != null and layerId != ''">
         and room.layerId=#{layerId}
     </if>
 </trim>
        LIMIT #{thisPage},#{pageSize}
    </select>


    <!--条件查询数量-->
    <select id="getRoomCount" resultType="int">
  SELECT count(1) from security_room as room inner JOIN
security_building as building on building.id=room.buildingId
 INNER JOIN address as adds on adds.id=building.addressId
 <trim prefixOverrides="and | or" prefix="where">
     <if test="addressId != null and addressId != ''">
         building.addressId=#{addressId}
     </if>
     <if test="userId != null and userId != ''">
       <if test="userId == 1">
           and userId=0
       </if>
         <if test="userId == 2">
             and userId!=0
         </if>
     </if>
     <if test="buildingId != null and buildingId != ''">
         and room.buildingId=#{buildingId}
     </if>
     <if test="layerId != null and layerId != ''">
         and room.layerId=#{layerId}
     </if>
 </trim>
    </select>

<select id="getRoom" resultType="Room">/*根据房间id查询*/
    select ad.`name` as addressName,room.id,room.`name`,room.layerId,building.`name` as buildingName,room.price  FROM security_room as room inner join security_building as building
 on room.buildingId=building.id left JOIN address as ad on building.addressId=ad.id where room.id=#{roomId}
</select>
    <select id="getHouse" resultType="Room">
        select ad.`name` as addressName,room.id,room.`name`,room.layerId,building.`name` as buildingName,room.price,d.createTime as createTime,d.stopTime as stopTime  FROM security_room as room inner join record as d on room.id=d.roomId inner join security_building as building
 on room.buildingId=building.id left JOIN address as ad on building.addressId=ad.id where room.id in (select roomId from record where userId=#{id});
    </select>
</mapper>

